<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Resume</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/sass/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Resume.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header class="container-fluid shadow-lg d-flex justify-content-center">
        <i class="bi bi-layers-fill"></i>
        <nav class="navbar row w-50">
            
            <ul class="navbar-nav gap-5">
                <li class="nav-item col">
                    <a class="nav-link" asp-action="Index" asp-action="Index">
                        <h4>Portfolio</h4>
                    </a>
                </li>
                <li class="nav-item col-8">
                    <a href="#" class="nav-link">
                        <h4>About Me</h4>
                    </a>
                </li>
                <li class="nav-item col-9">
                    <a href="#" class="nav-link">
                        <h4>Resume</h4>
                    </a>
                </li>
                <li class="nav-item col-10">
                    <a href="#" class="nav-link">
                        <h4>Projects</h4>
                    </a>
                </li>
                    
            </ul>
            
            
        </nav>
    </header>
    <div class="container-fluid vh-100">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container-fluid d-flex justify-content-center text-muted">
        <div class="flex-row">
            &copy; 2024 - Social - <a href="https://www.linkedin.com/in/luisandrewgarcia" target="_blank" rel="noopener"><i class="bi bi-linkedin"></i></a> - <a href="https://github.com/AndrewLG92" target="_blank" rel="noopener"><i class="bi bi-github"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
