

/* breakpoints */
$jumbo-desktop: 'screen and (max-width: 1920px)';
$large-desktop: 'screen and (max-width: 1440px)';
$break-large: 'screen and (max-width: 1280px)';
$tablet: 'screen and (max-width: 768px)';
$tablet-wide: 'screen and (max-width: 1023px)';
$nav-break: 'screen and (max-width: 1023px)';
$mobile: 'screen and (max-width: 767px)';
$small-mobile: 'screen and (max-width: 540px)';
$smaller-mobile: 'screen and (max-width: 375px)';
$desktop-only: 'screen and (min-width: 1024px)';
$ipad-landscape: 'screen and (max-width: 1024px)';
$ipad-portrait: 'only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)';

// Arrow
$ani-speed: 2s;
$ani-delay: 1s;