
obj/Debug/net8.0/Resume.AssemblyInfoInputs.cache
obj/Debug/net8.0/Resume.AssemblyInfo.cs
*.dll
*.exe
*.pdb
bin/Debug/net8.0/Resume.staticwebassets.runtime.json
obj/Debug/net8.0/Resume.sourcelink.json
obj/Debug/net8.0/Resume.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Resume.AssemblyInfoInputs.cache
obj/Debug/net8.0/staticwebassets.pack.json
/bin
/obj
