/* breakpoints */
body header {
  background-color: black;
  margin: 0 auto;
}
body header i {
  display: none;
}
body header .navbar {
  padding: 1em 1.5em 1em 1.5em;
}
body header .navbar .navbar-nav {
  flex-direction: row !important;
}
body header .navbar .navbar-nav .nav-item {
  width: fit-content;
}
body header .navbar .navbar-nav .nav-item .nav-link {
  color: #FFF !important;
  text-shadow: 4px 4px 4px #717171, 0px 0px 25px #717171, 0px 0px 25px #717171;
}
body header .navbar .navbar-nav .nav-item .nav-link a {
  width: fit-content;
}
body header .navbar .navbar-nav .nav-item .nav-link a h4 {
  font-weight: normal !important;
}
body header .navbar .row {
  flex-wrap: nowrap;
}
body main .top .item-1 .card {
  box-shadow: 0em 0.5rem 3rem rgb(0, 0, 0);
  transition-property: opacity, transform;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
@starting-style {
  body main .top .item-1 .card {
    opacity: 0;
    transform: translate(-30rem);
  }
}
body main .top .item-2 .card {
  border-radius: 50em;
  width: 620px;
  height: 620px;
  display: flex;
  align-items: center;
  box-shadow: 0em -0.5rem 3rem rgb(0, 0, 0);
  background: rgba(173, 181, 189, 0.6784313725);
}
body main .top .item-2 .card img {
  border-radius: 100%;
  width: 670px;
  height: 670px;
  object-fit: cover;
  position: absolute;
  bottom: -1.7em;
  clip-path: circle();
}
