@import 'utilities/_variables.scss';

body {

    header {
        background-color: black;
        margin: 0 auto;

        i {
            display: none;
        }

        .navbar {
            padding: 1em 1.5em 1em 1.5em;

            .navbar-nav {
                flex-direction: row !important;


                .nav-item {
                    width: fit-content;

                    .nav-link {
                        color: #FFF !important;
                        text-shadow: 4px 4px 4px #717171, 0px 0px 25px #717171, 0px 0px 25px #717171;

                        a {
                            width: fit-content;

                            h4 {
                                font-weight: normal !important;
                            }
                        }
                    }
                }
            }

            .row {
                flex-wrap: nowrap;
            }
        }
    }


    main {
        .top {
            .item-1 {
                .card-text {
                    font-size: 30px;
                }
            }

            .item-2 {
                .card {
                    border-radius: 50em;
                    width: 600px;
                    height: 600px;
                    display: flex;
                    align-items: center;
                    box-shadow: 0em -.5rem 3rem rgba(0, 0, 0, 1);
                    background: #adb5bdad;

                    img {
                        border-radius: 66em;
                        width: 550px;
                        height: 550px;
                        object-fit: cover;
                        position: absolute;
                        top: 1.5em;
                    }
                }
            }
        }
    }
}
