@{
    ViewData["Title"] = "Home Page";
}


<div class="header d-flex justify-content-center mt-5 mb-5">
    <div class="font first pe-4">Discover</div>
    <div class="font second">
        <span>a talent that aligns with your vision!</span>
    </div>
</div>


<div class="row top ">
    <div class="item-1  col-6 p-5 d-flex justify-content-center">
        <div class="card rounded-3">
            
            <div class="card-body text-center">
                
                <p class="card-text font p-5">
                    <strong>Welcome!</strong> As a <strong>Full-Stack Developer</strong>,<br /> 
                    I specialize in creating <strong>dynamic</strong>,<br /> 
                    <strong>end-to-end solutions</strong> 
                    that<br /> seamlessly integrate <strong>front-end aesthetics</strong> with<br /> 
                    powerful <strong>back-end functionality</strong>.
                </p>
            </div>
        </div>
    </div>
    <div class="item-2 d-flex justify-content-center col-6 p-5">
        <div class="card">
            <img class="p-5 mt-5" src="/images/simple_environment.jpeg" alt="...">
        </div>
    </div>
</div>



