@{
    ViewData["Title"] = "Home Page";
}


<div class="row top">
    <div class="item-1 col-6 p-5">
        <div class="card rounded-3">
            <div class="card-body text-center">
                <h1 class="font card-title">Hello & Welcome. My Name is Luis A. Garcia.</h1>
                <p class="card-text">
                    Discover Talent that Aligns with your Vision!
                </p>
            </div>
        </div>
    </div>
    <div class="item-2 col-6 p-5">
        <div class="card">
            <img class="" src="/images/simple_environment.jpeg" alt="...">
        </div>
    </div>
</div>



